.content {
  align-items: center;
  gap: 45px;
  min-width: 375px;
  max-width: 1024px;
  padding: 48px 40px;
}

.row_group, .row {
  display: flex;
  flex-direction: column;
}
.row_group {
  align-items: center;
  gap: 70px;
  width: 100%;
}
.row {
  gap: 12px;
  position: relative;
  width: 100%;
}
.title_row {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: var(--gray-07);
}
.input_area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  & input {
    width: 100%;
    height: 60px;
    padding: 16px 48px 16px 16px;
    border: 1px solid var(--gray-03);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    &:focus {
      outline: none;
    }
    &:global.focus {
      border: 1px solid #5D5FEF;
    }
    &:global.error {
      border: 1px solid #EF5D5D;
    }
  }
  & button {
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    border: none;
    background-size: 24px;
  }
  & button[name=erase] {
    background: url("/images/erase_text.svg");
  }
  & button[name=check] {
    background: url("/images/check_black.svg");
  }
}
.error_row {
  position: absolute;
  bottom: -27px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #EF5D5D;
}

.submit {
  width: 192px;
  height: 52px;
  padding: 12px 16px;
  border: none;
  background-color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: white;
}
